.App {
  text-align: center;
  color: purple;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}
button {
  background: hotpink;
  color: black;
  width: 15%;
  border-radius: 10px;
  font-weight: bold;
}